@model Project.Models.Bill

@{
    ViewData["Title"] = "Bill Details";
}

<h1 style="color: green">Order Successfully</h1>

<div>
    <hr />
    <h3>User Information: </h3>
    <p>Name: @ViewBag.UserName</p>
    <p>Phone: @Model.Phone</p>
    <p>Address: @Model.Address</p>
</div>
<div>
    <h3>Items List </h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                   #
                </th>
                <th>
                    Drink
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Payment
                </th>
                <th>
                    Toppings
                </th>
                <th>
                    Size
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var orderDetails = Model.OrderDetails.ToList();
            }
            @for (var i = 0; i < Model.OrderDetails.Count; ++i)
            {
                var detail = Model.OrderDetails.ElementAt(i);
                string payment = detail.Payment.FormatNumber();
                <tr>
                    <td>
                       @(i+1)
                    </td>
                    <td>
                        @detail.Drink.Name
                    </td>
                    <td>
                       @detail.Quantity
                    </td>
                    <td>
                        @payment
                    </td>
                    <td>
                        @foreach (var topping in detail.Toppings)
                        {
                            <p>@topping.Name</p>
                        }
                    </td>
                    <td>
                       @detail.Size
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @*<p style="text-align:right">Quantity : @quantity</p>*@
    @{
        decimal t= (decimal) Model.Payment;
        var total = t.FormatNumber();
    }
    <h3 style="text-align: right; font-weight: bold">Total: @total</h3>
    <h4 style="font-style: italic">Note: @Model.Note</h4>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
<style>
    h3{
        color: darkslateblue
    }
</style>
             