@model Project.Models.OrderDetail

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>
<form asp-action="Bill" method="get">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Drink
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Payment
                </th>
                <th>
                    Toppings
                </th>
                <th>
                    Size
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                List<OrderDetail> orderDetails = ViewBag.OrderDetails;
            }
            @foreach (var item in orderDetails)
            {
                string payment = item.Payment.FormatNumber();
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Drink.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @payment
                    </td>
                    <td>
                        @foreach (var topping in item.Toppings)
                        {
                            <p>@topping.Name</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        <td>
                @{
                    decimal totalBill = @ViewBag.Total;
                    string total = totalBill.FormatNumber();
            }
            <h4>Total: @total</h4>
        </td>
        <td>
                @{                  
                    if (totalBill <= 0)
                    {
                    <button type="submit" class="btn btn-primary" asp-action="Create" asp-controller="Bills" hidden> Order</button>
                    }
                    else{
                    <button type="submit" class="btn btn-primary" asp-action="Create" asp-controller="Bills"> Order</button>
                }
            }
        </td>
        </tbody>
    </table>
</form>
