@using Project.Models;
@model IEnumerable<Project.Models.Cart>

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Drink
            </th>
            <th>
                Quantity
            </th>
            <th>
                Payment
            </th>
            <th>
                Toppings
            </th>
            <th>
                Size
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetail.Drink.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetail.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetail.Payment)
                </td>
                <td>
                    @{
                        List<Topping> toppings = (List<Topping>)item.OrderDetail.Toppings;
                        foreach (var topping in toppings)
                        {
                            <p>@topping.Name</p>
                            <br />
                        }

                    }
                  @*  @Html.DisplayFor(modelItem => item.OrderDetail.Drink.Name)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetail.Size)
                </td>
                <td>
                    @*  <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
